</head>
<body>
  <nav>
    <a href="/flights/index">All Flights</a>
    <a href="/flights/new">Add Flight</a>
    <a href="/destinations/new">Add Destination</a>
  </nav>
  <main>
    <img src="https://i.imgur.com/vjNC1l0.jpg" alt="">