<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Flight</title>
</head>
<body>
  <h1>Add a Flight</h1>
  <form action="/flights" method="post">
    <label>Airline:
      <select name="airline">
        <option value="American Airlines">American Airlines</option>
        <option value="Delta">Delta</option>
        <option value="Spirit">Spirit</option>
      </select>
    </label><br>
    <label>Airport:
      <select name="airport">
        <option value="LAX">LAX</option>
        <option value="ORD">ORD</option>
        <option value="JFK">JFK</option>
        <option value="DFW">DFW</option>
      </select>
    </label><br>
    <label>Flight Number:
      <input type="number" name="flightNo">
    </label><br>
    <label>Departure Time
      <input type="datetime-local" name="departs">
    </label><br>
    <button type="submit">Add Flight</button>
  </form>
</body>
</html>